@font-face {
    font-family: 'Jet Brains Mono';
    src: url('../assets/fonts/JetBrainsMono-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Jet Brains Mono Italic';
    src: url('../assets/fonts/JetBrainsMono-VariableFont_wght.ttf');
}

:root {
    /* Colors */
    --white: #FFF;
    --back: #000;

    --grey950: #08070B;
    --grey900: #14131B;
    --grey850: #18171F;
    --grey800: #24232C;
    --grey700: #54535B;
    --grey600: #817D92;
    --grey200: #E6E5EA;

    --green200: #A4FFAF;
    --yellow300: #F8CD65;
    --orange400: #FB7C58;
    --red500: #F64A4A;

    --gradient0: #14131B;
    --gradient1: #08070B;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;

    font-family: 'Jet Brains Mono';
    background: linear-gradient(to right, var(--gradient0), var(--gradient1));
    color: var(--white);
}

/* Typographies */
.tp1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0px;
}

.tp2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0px;
}

.tp3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
}

.tp4 {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
}

/* General styles */
.sharpbox {
    width: 100%;
    box-sizing: border-box;
    padding: 16px;

    background-color: var(--grey800);
}

/* Modifiers */
.password--disabled {
    color: var(--grey700);
}

.copyText--disabled {
    visibility: hidden;
}

.checkbox--active {
    background-color: var(--green200);
    border-color: var(--green200) !important;
}

.checkbox--active img {
    visibility: visible !important;
}

.button--disabled {
    opacity: 0.4;
}