@import 'global.css';

.container {
    margin: 65px 16px;
    border: solid orange 1px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.title {
    color: var(--grey600);
}

.password {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.password__copy {
    display: flex;
    align-items: center;
    gap: 16px;

    color: var(--green200);
}

.password__copy__icon {
    width: 17.5px;
}