@import 'global.css';

.container {
    margin: 65px 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.title {
    color: var(--grey600);
}

/* Top section */
.password {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.password__copy {
    display: flex;
    align-items: center;
    gap: 16px;

    color: var(--green200);
}

.password__copy__icon {
    width: 17.5px;
    cursor: pointer;
}

/* Form */
.generate {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.generate__charLength {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.generate__charLength__output {
    padding-right: 14px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.generate__charLength__output__value {
    color: var(--green200);
}

/** Slider */
.generate__charLength__sliderContainer {
    height: 28px;
}
.slider {
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    background-color: var(--grey850);
    outline: none;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    width: 28px;
    height: 28px;
    background-color: var(--grey200);
    border-radius: 50%;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 28px;
    height: 28px;
    background-color: var(--grey200);
    border-radius: 50%;
    cursor: pointer;
}

/* Checkboxes */
.generate__options {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.generate__options__item {
    display: flex;
    align-items: center;
    gap: 16px;
}

.generate__options__item__checkbox {
    border: solid var(--white) 2px;
    width: 16px;
    height: 16px;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.generate__options__item__checkbox img {
    visibility: hidden;
}

/* Bottom section */
.generate__generate {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.generate__generate__strength {
    background-color: var(--grey850);
    padding: 14px 17px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.generate__generate__strength__text {
    color: var(--grey600);
}

.generate__generate__strength__boxes {
    display: flex;
    gap: 8px;
}

.generate__generate__strength__boxes__item {
    width: 6px;
    height: 24px;

    border: solid var(--white) 2px;
}

.generate__generate__button {
    padding: 18px;

    background-color: var(--green200);
    color: var(--grey800);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}