@import 'global.css';

.container {
    margin: 65px 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.title {
    color: var(--grey600);
}

/* Top section */
.password {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.password__copy {
    display: flex;
    align-items: center;
    gap: 16px;

    color: var(--green200);
}

.password__copy__icon {
    width: 17.5px;
}

/* Form */
.generate {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.generate__charLength {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.generate__charLength__output {
    padding-right: 14px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.generate__charLength__output__value {
    color: var(--green200);
}